<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>

  <h1> Show URLS </h1>

  <ul class="list-group">
    <% urls.forEach( function(url) { %>

      <li class="list-group-item">
        <div class="row">
          <form method="POST" action="/urls/<%= url.id %>/delete?_method=DELETE">

            <div class="col-md-9">

              <a onclick="copyToClipboard('<%= url.id %>')" class="btn btn-default" role="button">
                  <span class="glyphicon glyphicon-file"></span>
                </a>

              <a href="/u/<%= url.id %>" target="_blank"><%= url.id %> </a> &rarr;

              <a href="<%= url.longUrl %>" target="_blank"> <%= url.longUrl %> </a>
            </div>

            <div class="col-md-3">

              <a href="/urls/<%=url.id%>" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-pencil"></span> Edit
              </a>


              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span> Delete
              </button>


            </div>

          </form>
        </div>
      </li>
    <% }) %>
  </ul>

  <script>
    function copyToClipboard(url) {
      copy(window.location.hostname + ":" + window.location.port + "/u/" + url);
    }
  </script>

</body>
</html>